In [129]:
import pandas as pd

In [130]:
colnames=['a','b','c','d','e','f','g','h','i']
a_file = pd.read_csv('C:/Users/shruti.kerkar/Desktop/KAGAL15.csv',encoding='utf-8',names=colnames,header=None)
a_file.head(50)

,a,b,c,d,e,f,g,h,i
0,???????? ?????????? ???? ? ??? :273 ????,NaN,NaN,NaN,???? ???,NaN,NaN,NaN,NaN
1,??? ???? ????? :,????????,NaN,NaN,15,NaN,NaN,NaN,NaN
2,???????? ??????? ??? ?????? ?????????:,NaN,47 ???????,NaN,NaN,NaN,NaN,NaN,NaN
3,???? ?? ??? ?????? ?????????? ???? ? ???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,??? ???? ????? :,NaN,????????,NaN,NaN,NaN,NaN,NaN,NaN
5,1. ????????? ?????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,?????? ?? : 2019,NaN,?????? 2018 ??? ?? ????????? ??? ?????????,NaN,NaN,NaN,NaN,NaN,NaN
7,???? ????? : 01/01/2019,NaN,?? ? ??? ????? ???? ?????? ??? ????,NaN,NaN,NaN,NaN,NaN,NaN
8,???????? ???? : ???? ??????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,???? ???? ????????? 2019,NaN,NaN,NaN,NaN,NaN,NaN
10,??????? ????? : 01/09/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2. ???? ??? ??? ????? ?? ?????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,???? ??????? ????? ????? : 1.????? ??? ??? ???...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,?? ???: ????,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,????? ??? :,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,?????: ????,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,?????: ???????,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,??????: 416216,NaN,NaN,NaN,NaN
18,3. ????? ????? ????? :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,? ? ? ?? ? ? ? ? ? ? ??? ? ? ? : 1 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,????? ????? ???? ????? : ????????,NaN,NaN,NaN,NaN
21,? ? ? ?? ? ? ? ? ? ?? ? ? ? ?: ?? ???...,NaN,NaN,NaN,???? ??????? ????????,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,????,NaN,NaN,NaN,NaN
23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,????? ????? ???? :,NaN,NaN,NaN,NaN
25,4. ????? ???? :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,??? ????? ????,NaN,NaN,NaN,NaN,NaN
27,? ?????? ?????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,?????? ??????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,? ?,NaN,?????,????? ? ???,NaN,NaN,NaN,NaN
30,1 987,517,NaN,NaN,470 0 987,NaN,NaN,NaN,NaN
31,1 NZF7287451,NaN,2,NZF6980049,NaN,3,NaN,HZV0902692,NaN
32,??????? ?? : ???????? ???? ???,NaN,??????? ??,: ????? ????? ???,NaN,??????? ??,NaN,: ??? ????? ????,NaN
33,???,NaN,???,NaN,NaN,???,NaN,NaN,NaN
34,???? ??? : ???????? ???,Photo,?????? ???,: ????? ???,Photo,???? ???,NaN,: ??? ????,Photo
35,?? ????: 1,Available,?? ????,: 02,Available,?? ????,NaN,: 4,Available
36,41?? : 25 ? ? : ???,NaN,25 ?? :,? ? : ???,NaN,?? :,NaN,? ? : ???,NaN
37,4 HZV2315778,NaN,5,HZV0902742,NaN,6,NaN,HZV0902478,NaN
38,??????? ?? : ??? ????? ??????,NaN,??????? ??,: ??? ???? ??????,NaN,??????? ??,NaN,: ??? ???? ??????,NaN
39,???,NaN,???,NaN,NaN,???,NaN,NaN,NaN
40,???? ??? : ??? ??????,Photo,?????? ???,: ??? ??????,Photo,?????? ???,NaN,: ??? ??????,Photo
41,?? ????: 4,Available,?? ????,: 4,Available,?? ????,NaN,: 4,Available
42,41?? : 73 ? ? : ???,NaN,46 ?? :,? ? : ???,NaN,?? :,NaN,? ? : ???,NaN
43,7 NZF6836043,NaN,8,NZF1010321,NaN,9,NaN,NZF1182898,NaN
44,??????? ?? : ??? ?????? ????,NaN,??????? ??,: ???? ?????? ???,NaN,??????? ??,NaN,: ???? ???? ???,NaN
45,???,NaN,???,NaN,NaN,???,NaN,NaN,NaN
46,???? ??? : ??? ????,Photo,?????? ???,: ???? ???,Photo,?????? ???,NaN,: ???? ???,Photo
47,?? ????: 5,Available,?? ????,: 4,Available,?? ????,NaN,: 4,Available
48,29?? : 34 ? ? : ???,NaN,30 ?? :,? ? : ???,NaN,?? :,NaN,? ? : ???,NaN
49,10 NZF6835813,NaN,11,NZF6980023,NaN,12,NaN,NZF6980031,NaN

In [132]:
a_file.isnull().sum()

a      13
b    1365
c      45
d     475
e    1118
f     415
g    2029
h     273
i    1371
dtype: int64

In [133]:
new_a_file=a_file.drop(columns=['b','e','f','g','i','c'],axis=1)
new_a_file.head(50)

,a,d,h
0,???????? ?????????? ???? ? ??? :273 ????,NaN,NaN
1,??? ???? ????? :,NaN,NaN
2,???????? ??????? ??? ?????? ?????????:,NaN,NaN
3,???? ?? ??? ?????? ?????????? ???? ? ???,NaN,NaN
4,??? ???? ????? :,NaN,NaN
5,1. ????????? ?????,NaN,NaN
6,?????? ?? : 2019,NaN,NaN
7,???? ????? : 01/01/2019,NaN,NaN
8,???????? ???? : ???? ??????,NaN,NaN
9,NaN,NaN,NaN
10,??????? ????? : 01/09/2018,NaN,NaN
11,2. ???? ??? ??? ????? ?? ?????,NaN,NaN
12,???? ??????? ????? ????? : 1.????? ??? ??? ???...,NaN,NaN
13,NaN,NaN,NaN
14,NaN,NaN,NaN
15,NaN,NaN,NaN
16,NaN,NaN,NaN
17,NaN,NaN,NaN
18,3. ????? ????? ????? :,NaN,NaN
19,? ? ? ?? ? ? ? ? ? ? ??? ? ? ? : 1 ...,NaN,NaN
20,NaN,NaN,NaN
21,? ? ? ?? ? ? ? ? ? ?? ? ? ? ?: ?? ???...,NaN,NaN
22,NaN,NaN,NaN
23,1,NaN,NaN
24,NaN,NaN,NaN
25,4. ????? ???? :,NaN,NaN
26,NaN,??? ????? ????,NaN
27,? ?????? ?????,NaN,NaN
28,?????? ??????,NaN,NaN
29,NaN,?????,NaN
30,1 987,NaN,NaN
31,1 NZF7287451,NZF6980049,HZV0902692
32,??????? ?? : ???????? ???? ???,: ????? ????? ???,: ??? ????? ????
33,???,NaN,NaN
34,???? ??? : ???????? ???,: ????? ???,: ??? ????
35,?? ????: 1,: 02,: 4
36,41?? : 25 ? ? : ???,? ? : ???,? ? : ???
37,4 HZV2315778,HZV0902742,HZV0902478
38,??????? ?? : ??? ????? ??????,: ??? ???? ??????,: ??? ???? ??????
39,???,NaN,NaN
40,???? ??? : ??? ??????,: ??? ??????,: ??? ??????
41,?? ????: 4,: 4,: 4
42,41?? : 73 ? ? : ???,? ? : ???,? ? : ???
43,7 NZF6836043,NZF1010321,NZF1182898
44,??????? ?? : ??? ?????? ????,: ???? ?????? ???,: ???? ???? ???
45,???,NaN,NaN
46,???? ??? : ??? ????,: ???? ???,: ???? ???
47,?? ????: 5,: 4,: 4
48,29?? : 34 ? ? : ???,? ? : ???,? ? : ???
49,10 NZF6835813,NZF6980023,NZF6980031

In [134]:
df_no_missing=new_a_file.dropna()
type(df_no_missing)

pandas.core.frame.DataFrame

In [135]:
new_a=df_no_missing.a.str.replace(':','')
new_a.head(30)

31                     1 NZF7287451
32    ??????? ??  ???????? ???? ???
34           ???? ???  ???????? ???
35                        ?? ???? 1
36               41??  25 ? ?   ???
37                     4 HZV2315778
38     ??????? ??  ??? ????? ??????
40             ???? ???  ??? ??????
41                        ?? ???? 4
42               41??  73 ? ?   ???
43                     7 NZF6836043
44      ??????? ??  ??? ?????? ????
46               ???? ???  ??? ????
47                        ?? ???? 5
48               29??  34 ? ?   ???
49                    10 NZF6835813
50          ??????? ??  ???? ??????
52          ?????? ???  ???? ??????
53                        ?? ???? 5
54               31??  30 ? ?   ???
55                    13 NZF7466576
56       ??????? ??  ????? ????????
58         ?????? ???  ????? ??????
59                        ?? ???? 5
60                  50??  ? ?   ???
61                    16 NZF1010339
62         ??????? ??  ???????? ???
64        ?????? ???  ???????? ????
65                      ?? ???? 8-1
66               67??  32 ? ?   ???
Name: a, dtype: object

In [136]:
new_d=df_no_missing.d.str.replace(':','')
new_d.head(1691)

31              NZF6980049
32         ????? ????? ???
34               ????? ???
35                      02
36               ? ?   ???
37              HZV0902742
38         ??? ???? ??????
40              ??? ??????
41                       4
42               ? ?   ???
43              NZF1010321
44        ???? ??????  ???
46                ???? ???
47                       4
48               ? ?   ???
49              NZF6980023
50               ???? ????
52           ???? ????????
53                       5
54               ? ?   ???
55              NZF7466899
56             ????? ?????
58          ????? ????????
59                       5
60               ? ?   ???
61              NZF6979991
62            ??? ???? ???
64                 ??? ???
65                      09
66               ? ?   ???
               ...
1970        ??? ??? ??????
1972            ??? ??????
1973                   163
1974             ? ?   ???
1975            NZF7112501
1976       ???? ???? ?????
1978            ???? ?????
1979                     -
1980             ? ?   ???
1981            NZF7287493
1982     ?????? ???? ?????
1984          ?????? ?????
1985
1986             ? ?   ???
1987            NZF7287543
1988         ??? ?? ?? ???
1990               ??? ???
1991                     -
1992             ? ?   ???
1993            HZV2330470
1994            ????? ????
1995              ????????
1996        ????? ????????
1997                     -
1998             ? ?   ???
1999            HZV0851782
2000      ???? ????? ?????
2002            ???? ?????
2003                  256A
2004             ? ?   ???
Name: d, Length: 1517, dtype: object

In [137]:
new_h=df_no_missing.h.str.replace(':','')
new_h.head(1691)

31               HZV0902692
32           ??? ????? ????
34                 ??? ????
35                        4
36                ? ?   ???
37               HZV0902478
38          ??? ???? ??????
40               ??? ??????
41                        4
42                ? ?   ???
43               NZF1182898
44           ???? ????  ???
46                 ???? ???
47                        4
48                ? ?   ???
49               NZF6980031
50           ???? ???? ????
52                ???? ????
53                        5
54                ? ?   ???
55               NZF7234768
56        ???? ?????? ?????
58               ???? ?????
59                        6
60                ? ?   ???
61               NZF6980221
62            ??? ????? ???
64                  ??? ???
65                       14
66                ? ?   ???
               ...
1970        ??? ???? ??????
1972             ??? ??????
1973                    163
1974              ? ?   ???
1975             NZF7287485
1976     ?????? ????? ?????
1978           ?????? ?????
1979
1980              ? ?   ???
1981             NZF7287469
1982     ?????? ?? ?? ?????
1984           ?????? ?????
1985                     20
1986              ? ?   ???
1987             HZV2327674
1988      ????? ????? ?????
1990            ????? ?????
1991
1992              ? ?   ???
1993             NZF1011212
1994             ????? ????
1995               ????????
1996         ????? ????????
1997
1998              ? ?   ???
1999             NZF7443138
2000     ????? ????? ??????
2002           ????? ??????
2003                      -
2004              ? ?   ???
Name: h, Length: 1517, dtype: object

In [138]:
#pd.Series(['a','d','h']).str.replace(':','',regex=False)
#df_no_missing[0:3] = df_no_missing[0:3].str.replace(':','')
#df_no_missing[0:3].replace(':','',regex=True)
#df_no_missing[0:3].head()
#df_no_missing[0:3] = df_no_missing[0:3].str.replace(':','')
df_no_missing = df_no_missing.applymap(lambda x: x.replace('?', ''))
df_no_missing

                   a           d           h
31      1 NZF7287451  NZF6980049  HZV0902692
32              :           :           :
34               :           :           :
35               : 1        : 02         : 4
36     41 : 25    :           :           :
37      4 HZV2315778  HZV0902742  HZV0902478
38              :           :           :
40               :           :           :
41               : 4         : 4         : 4
42     41 : 73    :           :           :
43      7 NZF6836043  NZF1010321  NZF1182898
44              :          :           :
46               :           :           :
47               : 5         : 4         : 4
48     29 : 34    :           :           :
49     10 NZF6835813  NZF6980023  NZF6980031
50               :           :          :
52               :           :           :
53               : 5         : 5         : 5
54     31 : 30    :           :           :
55     13 NZF7466576  NZF7466899  NZF7234768
56               :           :          :
58               :           :           :
59               : 5         : 5         : 6
60        50 :    :           :           :
61     16 NZF1010339  NZF6979991  NZF6980221
62               :          :           :
64               :           :           :
65             : 8-1        : 09        : 14
66     67 : 32    :           :           :
...              ...         ...         ...
1970            :           :           :
1972             :           :           :
1973           : 163       : 163       : 163
1974      30 :    :           :           :
1975  973 NZF7084544  NZF7112501  NZF7287485
1976           :            :           :
1978            :            :           :
1979             : -         : -           :
1980   51 : 25    :           :           :
1981  976 NZF7287477  NZF7287493  NZF7287469
1982           :            :          :
1984            :            :           :
1985             : 0           :        : 20
1986   23 : 32    :           :           :
1987  979 NZF7287501  NZF7287543  HZV2327674
1988           :           :            :
1990             :           :           :
1991               :         : -           :
1992   60 : 26    :           :           :
1993  982 HZV2327658  HZV2330470  NZF1011212
1994            :            :           :
1995
1996             :           :           :
1997               :         : -           :
1998   32 : 51    :           :           :
1999  985 HZV0853051  HZV0851782  NZF7443138
2000             :          :           :
2002             :           :           :
2003               :      : 256A         : -
2004   20 : 38    :           :           :

[1517 rows x 3 columns]

In [139]:
#df_no_missing_new=df_no_missing.str.replace('-','')
#df_no_missing_new.head(1691)
df_no_missing_new = df_no_missing.applymap(lambda x: x.replace(':', ''))
df_no_missing_new.head(50)

                a           d           h
31   1 NZF7287451  NZF6980049  HZV0902692
32
34
35              1          02           4
36    41  25
37   4 HZV2315778  HZV0902742  HZV0902478
38
40
41              4           4           4
42    41  73
43   7 NZF6836043  NZF1010321  NZF1182898
44
46
47              5           4           4
48    29  34
49  10 NZF6835813  NZF6980023  NZF6980031
50
52
53              5           5           5
54    31  30
55  13 NZF7466576  NZF7466899  NZF7234768
56
58
59              5           5           6
60       50
61  16 NZF1010339  NZF6979991  NZF6980221
62
64
65            8-1          09          14
66    67  32
67  19 NZF6980239  NZF6980247  NZF6980254
68
70
71             14          14          14
72    27  56
73  22 NZF6987457  NZF1268333  NZF6968846
74
75
76
77             14          14          14
78    68  27
79  25 NZF1268325  NZF7370299  NZF6980064
80
82
83             14          14          16
84       38
85  28 NZF6980056  NZF7234636  NZF1010354
86
88
89             17         22A          23

In [140]:
df_no_missing_new.to_csv('C:/Users/shruti.kerkar/Desktop/KAGAL15.csv',encoding='utf-8')